# Virtual Environemnt Based
pyvenv.cfg
lib
lib64
include
bin
Scripts

# Personal for VSCODE
settings.json

# Python Cache files
src/pdfsimuti/__pycache__
src/pdfsimuti/features/__pycache__
src/pdfsimuti/diagnostic/__pycache__

# Tests/ Research files
tests
README.md